*{
    margin: 0;
    padding: 0;
    border: 0;
}

a:hover {
  background-color: #a4161a;
}
#selected{color: #a4161a;}

a {
  text-decoration: none;
  display: inline;
  color: white;
}

.desktop9 {
    background-color: #161a1d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop9 .div {
    background-color: #161a1d;
    border: 1px none;
    height: 1220px;
    position: relative;
    width: 1440px;
  }
  
  .desktop99 .frame {
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .desktop9 .navbar {
    height: 80px;
    left: 30px;
    position: relative;
    top: 20px;
    width: 1334px;
  }
  
  .desktop9 .overlap-group {
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
  }
  
  .desktop9 .text-wrapper {
    color: #d3d3d3;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    left: 60px;
    letter-spacing: 1.52px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 180px;
  }
  
  .desktop9 .element-ball-removebg {
    height: 80px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 80px;
  }
  
  .desktop9 .text-wrapper-2 {
    color: #d3d3d3;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    left: 240px;
    letter-spacing: 1.52px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 180px;
  }
  
  .desktop9 .reservations {
    color: #d3d3d3;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    left: 420px;
    letter-spacing: 1.52px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 180px;
  }
  
  .desktop9 .tournaments-events {
    color: #d3d3d3;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    left: 600px;
    letter-spacing: 1.52px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 180px;
  }
  
  .desktop9 .text-wrapper-3 {
    color: #d3d3d3;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    left: 780px;
    letter-spacing: 1.52px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 180px;
  }
  
  .desktop9 .text-wrapper-4 {
    color: #d3d3d3;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    left: 960px;
    letter-spacing: 1.52px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 180px;
  }
  
  .desktop9 .text-wrapper-5 {
    color: #d3d3d3;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    left: 1140px;
    letter-spacing: 1.52px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 180px;
  }
  
  .desktop9 .frame-2 {
    height: 750px;
    left: 0;
    position: absolute;
    top: 120px;
    width: 1440px;
  }
  
  .desktop9 .group {
    height: 300px;
    left: 120px;
    position: absolute;
    top: 33px;
    width: 1199px;
  }
  
  .desktop9 .accepting-credit {
    height: 300px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 333px;
  }
  
  .desktop9 .img {
    height: 300px;
    left: 433px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 333px;
  }
  
  .desktop9 .accepting-credit-2 {
    height: 300px;
    left: 866px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 333px;
  }
  
  .desktop9 .group-2 {
    height: 300px;
    left: 120px;
    position: absolute;
    top: 400px;
    width: 1199px;
  }
  
  .desktop9 .frame-3 {
    height: 350px;
    left: 0;
    position: absolute;
    top: 870px;
    width: 1440px;
  }
  
  .desktop9 .frame-4 {
    height: 138px;
    left: 120px;
    position: absolute;
    top: 50px;
    width: 260px;
  }
  
  .desktop9 .text-wrapper-6 {
    color: #ffffff;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.48px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
  }
  
  .desktop9 .group-3 {
    height: 89px;
    left: 0;
    position: absolute;
    top: 49px;
    width: 104px;
  }
  
  .desktop9 .text-wrapper-7 {
    color: #ffffff;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.48px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .desktop9 .text-wrapper-8 {
    color: #ffffff;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.48px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 35px;
    white-space: nowrap;
  }
  
  .desktop9 .text-wrapper-9 {
    color: #ffffff;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.48px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 70px;
    white-space: nowrap;
  }
  
  .desktop9 .frame-5 {
    height: 138px;
    left: 547px;
    position: absolute;
    top: 49px;
    width: 260px;
  }
  
  .desktop9 .group-4 {
    height: 89px;
    left: 0;
    position: absolute;
    top: 49px;
    width: 56px;
  }
  
  .desktop9 .frame-6 {
    height: 138px;
    left: 974px;
    position: absolute;
    top: 50px;
    width: 260px;
  }
  
  .desktop9 .group-5 {
    height: 89px;
    left: 0;
    position: absolute;
    top: 49px;
    width: 64px;
  }
  
  .desktop9 .p {
    color: #ffffff;
    font-family: "Zilla Slab-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 120px;
    letter-spacing: 0.48px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 269px;
    white-space: nowrap;
  }
  